#game-view, #canvas-view, #color-palette-view {
  height: 100%;
}

#canvas-view, #color-palette-view {
  background-color: white;
  border: 1px solid black;
}

.total-area {
  height: 100%;
}

.word-panel {
  position: relative;
  height: 10%;
  text-align: center;
  background-color: #E0EBEB;
}

.word-panel h2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.working-area {
  height: 90%;
}

.players-info, .canvas-area, .chat-area {
  box-sizing: border-box;
  float: left;
  color: red;
  height: 100%;
  padding: 1%;
}

.canvas-panel {
  box-sizing: border-box;
  height: 80%;
  padding: 3px;
}

.colors-panel, .size-panel {
  background-color: #E0EBEB;
  float: left;
  width: 50%;
  height: 20%;
  padding: 3px;
}

.players-info {
  width: 15%;
  background-color: #75A3A3;
}

.canvas-area {
  width: 60%;
  background-color: #A3C2C2;
}

.chat-area {
  width: 25%;
  background-color: #75A3A3;
}

.clear-button {
  background-image: url("../images/eraser-icon.png");
  background-color: #E0EBEB;
  height: 32px;
  width: 32px;
  margin-top: 32px;
  border-color: #E0EBEB;
  border-width: 1px;
}