.game-waiting__container {
  @extend .card-panel, .col, .s12, .m4,  .teal.lighten-5;
}

.game-waiting__message,
.game__header {
  font-weight: 300;
};

.game {
  width: 100%;
  min-width: 1000px;
  height: 460px;
}

.game__players {
  float: left;
  width: 200px;
  height: 400px;
}

.game__drawing-area {
  float: left;
  width: 600px;
  height: 400px;
}

.game__chat-wrapper {
  float: left;
  width: 200px;
  height: 100%;
}

.canvas-view {
  height: 400px;
  width: 600px;
}

.chat-view {
  height: 100%;
}

.canvas {
  border: 1px solid lightgrey;
  border-radius: 6px;
}
