body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.preloader {
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 100;
}

.page-footer {
  
}
