body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  z-index: 20;
  position: relative;
  overflow: hidden;
}

@media (min-width: 700px) {
  body {
    overflow: hidden;
  }
}

main {
  flex: 1 0 auto;
}

.page {
  position: relative;
}

.page__content {
  @extend .center, .col, .m10;
}

.logo {
  overflow-y: hidden;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
}

.page-footer {
  margin-top: 0;
  padding-top: 0;
}

.menu-view, .main-view, .game-view, .signup-view,
.signin-view, .scoreboard-view{
    animation: fadein 1s;
}

@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}