$menuColor: #2ecc71;
$menuDark: darken($menuColor, 10%);
$menuDarker: darken($menuDark, 10%);
$menuLight: lighten($menuColor, 10%);


.menu-list {
  margin: 0;
  padding: 2%;
  padding-bottom: 3%;
  border: 1px solid black;
  border-radius: 30px;
  position: absolute;
  top: 40%;
  left: 50%;
  /*text-align: center;*/
  font-size: 200%;
  transform: translate(-50%, -50%);

  width: 40%;
  max-width: 500px;
  list-style-type: none;
}

.menu-list li {
  border-radius: 3px;
  outline: 0;
  background-color: $menuColor;
  border-bottom: 1px solid $menuDark;
  box-shadow: 0px 5px 0px $menuDark;

  a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;  
  }

  &:hover {
    background-color: $menuLight;
    box-shadow: 0px 5px 0px $menuDarker;
  }

  &:active {
    background: $menuDark;
    box-shadow: none;
    margin-top: 5px;
  }
}

