<class type='resource.Words'>
    <word>апельсин</word>
    <word>солнце</word>
    <word>дерево</word>
    <word>кот</word>
    <word>собака</word>
    <word>яблоко</word>
    <word>дом</word>
    <word>трава</word>
    <word>дым</word>
    <word>человек</word>
    <word>банан</word>
    <word>лягушка</word>
    <word>хлеб</word>
    <word>сундук</word>
    <word>футболка</word>
    <word>гора</word>
    <word>веревка</word>
    <word>ноутбук</word>
    <word>телефон</word>
    <word>мышь</word>
    <word>окно</word>
    <word>машина</word>
    <word>тетрадь</word>
    <word>парта</word>
    <word>ухо</word>
    <word>очки</word>
    <word>палец</word>
    <word>нос</word>
    <word>зеркало</word>
    <word>кружка</word>
    <word>кровать</word>
    <word>подушка</word>
</class>